<nav class="navbar navbar-expand-lg navbar-light bg-light vh-100">
    <!-- 希望導覽列可以撐滿瀏覽器高度，故下 vh-100（BS5 - Sizing） -->
    <div class="container-fluid flex-column align-items-start px-0 h-100">
        <!-- 父層下了 vh-100 後，子層要下 h-100 才能將內容撐開 -->
        <div>
            <a class="navbar-brand border-start border-opacity border-4 ps-4 pe-2 mt-3 mb-4" href="#"><img src="../assets/images/logo-ANSWER.svg" alt="logo"></a>
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link fw-bold border-start border-opacity border-4 ps-4" href="#"><span class="material-symbols-outlined align-bottom pe-3">
                            assessment
                        </span>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold border-start border-opacity border-4  ps-4" href="#"><span class="material-symbols-outlined align-bottom pe-3">
                            question_answer
                        </span>Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold active border-start border-success border-4  ps-4 text-success" href="#"><span
                            class="material-symbols-outlined align-bottom pe-3">
                            assignment
                        </span>Assignment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold border-start border-opacity border-4  ps-4" href="#"><span class="material-symbols-outlined align-bottom pe-3">
                            video_library
                        </span>Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold border-start border-opacity border-4  ps-4" href="#"><span class="material-symbols-outlined align-bottom pe-3">
                            supervisor_account
                        </span>Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold border-start border-opacity border-4  ps-4" href="#"><span class="material-symbols-outlined align-bottom pe-3">
                            settings
                        </span>Settings</a>
                </li>
            </ul>
        </div>
        <div class="d-flex border-start border-opacity border-4 ps-4">
            <div class="flex-shrink-0">
                <img class="rounded-circle object-fit-cover me-3" src="../assets/images/andychen.jpeg" alt="admin" width="40"
                    height="40">
            </div>
            <div class="flex-grow-1">
                <p class="fw-bold">Andy Chen</p>
                <a class="mail-text-desc" href="mailto:andy0401@mail.com">andy0401@mail.com</a>
            </div>
        </div>
    </div>
</nav>